# Warm-up excercises week 6

Now that you have seen how to communicate with basic APIs, it's time for you to combine apply this knowledge. To prepare for the tutorial, we ask you to complete two warm-up excercises.


Some important notes for the excercises:

* These excercises are a warming up meant to help you get ready for class. Make sure to give them a try on all of them. If you get an error message, try to troubleshoot it (using Google often helps). If all else fails, go to the next excercise (but make sure to hand it in).
* While we of course like when you get all the answers right, the important thing is to exercise and apply the knowledge. So we will still accept solutions that may not be complete, as long as we see enough effort for each excercise. 
* Delivering the warm-up excercises on time is critical, as it helps also prepare for the tutorial session.
* As these excercises are meant to help you participate in the tutorial and us to make sure you can get as much as possible from the tutorials, we do not expect perfect answers. However, this is important to show the effort you have put in the excercises and what obstacles you faced.

# Excercise 1

1. During the lecture, we broke down our interaction with the datamuse API. The documentation for this API is available here https://www.datamuse.com/api/. Use another operation discussed in class  offered by this API apart from the ones we interacted with in the lecture. 
2. Explain the meaning of the http response code you received. 
3. Some of the endpoint return values which allow you to subset your data. For instance, rel_rhy return the rhyming word, as well as it's "rhyming score". We could use the rhyming score to create a dataframe with only the most "strongly rhyming words". Get a part of your data (API response) into a dataframe based on criteria of your choosing.

## For both ex1 and 2 I tried my best to follow the instructions but everything was just so confused so I didn't manage to finish it. I stop at where I'm able to.

* Import the requests modeule to make HTTP requests, import json so that we can interact with json obeject, a form that many APIs communicate in

In [6]:
import json
import requests

In [7]:
r = requests.get("https://api.datamuse.com/words?rel_rhy=forgetful")
data = r.json()

* Obtain the status code of the HTTP response. Since the code is 200, meaning the HTTP request is successful.

In [8]:
r.status_code

200

* Execute and display the json file format of the data

In [9]:
data

[{'word': 'fretful', 'score': 398, 'numSyllables': 2},
 {'word': 'regretful', 'score': 302, 'numSyllables': 3},
 {'word': 'threatful', 'score': 129, 'numSyllables': 2},
 {'word': 'netful', 'score': 28, 'numSyllables': 2}]

In [10]:
from pandas import json_normalize
df=json_normalize(r.json())

In [12]:
df.head()

        word  score  numSyllables
0    fretful    398             2
1  regretful    302             3
2  threatful    129             2
3     netful     28             2

In [14]:
df2=df[df['score']>df['score'].mean()]
df2

        word  score  numSyllables
0    fretful    398             2
1  regretful    302             3

In [11]:
strongly_rhyme=[]

def strong(dict):
    for any x in dict:
        for k in x.keys() and v in x.values():
            if v>100:
                return x

strong(data)

SyntaxError: invalid syntax (Temp/ipykernel_3280/879008167.py, line 4)

# Excercise 2

1. Use the API snippet from The Guardian provided in the lecture, and the documentation available here https://open-platform.theguardian.com/documentation/, to create a custom query from the Guardian of your choosing. To complete this excercise, your custom query must return at least 20 rows of data. Use the API credential (key) provided in the function in the lecture notebook. If you receive an error regarding a conflciting query occuring at the same time, try to run the snippet again until you establish a succesful connection with the API/get a succesful response. 
2. Conduct a basic exploratory analysis to explore what columns the dataset has, how many articles you retreived, and in what sections of the website they were published. 
3. Play around with the webPublicationDate column which shows when the articles from your query were published. The column is NOT datetime and needs to be. Transform to datetime to visualise or otherwise informatively count the number of articles published on a particular date.

* Register in Guradian and get the key 402eed04-252d-4f5d-afaf-89160971f1bc

In [67]:
api_key = '402eed04-252d-4f5d-afaf-89160971f1bc'

In [66]:
tag_json = requests.get('https://content.guardianapis.com/tags?q=energy&page-size=200&api-key=402eed04-252d-4f5d-afaf-89160971f1bc').json()

* Import pandas

In [60]:
import pandas as pd

* Writhe the query and extract data

In [ ]:
def query_api(tag, page, from_date, api_key):
    response = requests.get("https://content.guardianapis.com/search?tag="
                            + tag + "&from-date=" + from_date 
                            +"&page=" + str(page) + "&page-size=200&api-key=" + api_key)
    return response

response = query_api('science/energy', '1', '2022-01-01', '402eed04-252d-4f5d-afaf-89160971f1bc')

In [65]:
def get_results_for_tag(tag, from_date, api_key):
    json_responses = []
    response = response.json()
    json_responses.append(response)
    number_of_results = response['response']['total']
    if number_of_results > 20:
        for page in range(2, (round(number_of_results/20))+1):
            response = query_api(tag, page, from_date, api_key).json()
            json_responses.append(response)
    return json_responses

I tried to follow the instructions on the website but I'm not sure while the data does not appear, the tag I chose is selected from the tag list "science/energy", and all other informations follow the format. IT's just doesn't work.